.grid-container {
  margin-left:4%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 2fr  1fr;
  grid-template-rows: minmax(88vh, auto);
  gap:60px;
}

.mat-grid-tile {
  height: auto;
}

.Clicked-City {
  cursor: pointer;
}

.city-card {
  height:18vh;
  margin-bottom:15px;
  border-radius:20px;
  background-color:#eaedee;
  cursor: pointer;
}

.City {
  display: flex;
  flex-direction:row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.City h2, span {
  margin-bottom:3px;
}

.City span {
  font-size:15px;
  color: gray;
}

.City-Temp {
  font-size:30px;
  color: gray;
}

.City img {
  width:100px;
}

.city-details {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.City-Temp {
  padding-top:25px;
}

.city-weather-details {
  display: flex;
  flex-direction: column;
  margin-right:10px;
}

.city-weather-details .City-name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.city-weather-details .temp {
  font-size: 25px;
}

.Current-Weather-Details h1, span {
  margin-bottom:3px;
}

.Current-Weather-Details span {
  color: gray;
}

.city-weather-details .Current-Weather {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.city-weather-details .pic img {
  width:120px;
}

.city-weather-details .Today-Forecast, .days-Forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.city-weather-details .Today-Forecast img, 
.city-weather-details .days-Forecast img {
  width:80px;
}

.city-weather-details .Today-Forecast .forecast-item, 
.city-weather-details .days-Forecast .forecast-item {
  flex: 1;
  text-align: center;
}

.city-weather-details .Today-Forecast h5, 
.city-weather-details .days-Forecast h5 {
  margin-top: 5px;
  font-size: 16px;
}

.city-weather-details .vertical-divider {
  width: 1px;
  background-color: #ddd;
  margin: 0 10px;
  height: 100%; /* Ensure the divider fills the full height of the forecast section */
}

.city-weather-details span {
  padding-top:12px;
  padding-bottom:12px;
  font-weight: bolder;
  font-size:16px;
}

.custom-divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 15px 0;
}

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns:1fr;
  }
}

.dark-mode mat-card {
  background-color: #3f3f3f;
  color: white;
}

.dark-mode div,
.dark-mode span {
  color: white;
}

.dark-mode mat-divider {
  background-color: white;
}

.no-cities-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Center it vertically
  text-align: center;
  font-size: 1.8rem;
  color: #555;
}

