.grid-container {
  margin-left:3%;
  height: 100%;
  
}

.dashboard-card {
  position: absolute;
  top: 9px;
  left: 9px;
  right: 9px;
  bottom: 9px;
  background-color:#eaedee;
  height: 100%;

}

#map { height:88vh;
 }
.map-container{
  margin-top:10px;
  margin-right:10px;
}

